.days-list{
  margin-top: 15px;
  padding:15px ;
  background: #fff;
  .days{
    .days-head{
      display: flex;
      min-height: 50px;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
      .days-head-info{
        cursor: pointer;
      }
    }
    .day-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .week{

      }
      
    }
    .days{
      margin-top: 15px;
      .day{
        color: #999;
        width: 14.2%;
        height: 70px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1px 0;
        border-radius: 12px;
        cursor: pointer;
        .day-item{
          min-height: 20px;
          font-size: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .day-top{

        }
        .day-bot{

        }
      }
      .day-infoed{
        width: 100%;
        height: 100%;
        border-radius: 15px;
      }
      .todayed{
        background: #3cc;
        color:#fff;
      }
      .colored{
        color:#000;
      }
    }
    
  }
}