.mobiled {
  width: 375px;
  height: 812px;
  border: 4px solid;
  border-radius: 12px;
  margin: auto;
  background:whitesmoke;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all .3s;
  
}
.long{
  width: 600px;
  height: 500px;
}